# TODO bring all deps into this project to limit the sprawl/fragility of dependencies
include:
  - project: 'common/ci-templates'
    file:
      - jobs/common/auth.yml
      - jobs/common/rules.yml
      - jobs/common/variables.yml

variables:
  GO_VERSION: 1.25.6
  DOCKER_HOST: tcp://docker:2376
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_VERIFY: "1"
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
  CI_DOCKER_JOB_RUNNER_TAG: "docker"

stages:
  - test
  - publish

test:
  image: golang:1.25.6-alpine3.22
  stage: test
  script:
    - apk --update add bash make
    - GOBIN=/usr/local/bin/ go install gotest.tools/gotestsum@latest
    - make test-report
  artifacts:
    when: always
    paths:
      - tmp/report.xml
    reports:
      junit: tmp/report.xml

code-security:
  stage: test
  image: golang:1.25.6-alpine3.22
  script:
    - apk --update add bash curl git make mesa-gl mesa-dri-gallium mesa-utils
    - GOBIN=/usr/local/bin/ go install golang.org/x/vuln/cmd/govulncheck@latest
    - make vulnerability-report
  allow_failure: true
  artifacts:
    reports:
      sast: tmp/go-vuln-report.json
    paths:
      - tmp/go-vuln-report.json
      
code-quality:
  stage: test
  image: golang:1.25.6-alpine3.22
  script:
    - apk --update add curl bash git make
    - GOBIN=/usr/local/bin/ go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@latest
    - make lint-report
  allow_failure: true
  artifacts:
    reports:
      codequality: tmp/gl-code-quality-report.json
    paths:
      - tmp/gl-code-quality-report.json

build:
  stage: publish
  image: golang:1.25.6-alpine3.22
  script:
    - apk --update add curl bash git make
    - make clean build
  artifacts:
    paths:
      - ./bin/*
